body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F7FA;
}

/*main styles*/
.main {
  display: flex;
  flex-direction: row-reverse;
  background-color: #F5F7FA;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px roba(0, 0, 0, 0.1);
  padding: 105px 90px;
}
/* about styles */


.about {
  margin-bottom: 40px;

}

.about-position {

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;

}

.about-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;

}

.about-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 400px;

  color: #595959;

}
/*Additionally styles*/
.additionally {margin-bottom: 50px;}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.additionally-list {
  padding: 0;
  margin-left: 15px;
}
.additionally-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #A8A8A8;
}

    /*work styles*/
    .work {margin-bottom: 45px;}
    .work-position {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 10px;
    }
    .organization {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #fb6d3a;
    }
    .period {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #A8A8A8;
      margin-bottom: 10px;
    }
    .line {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #000;
    }
    .work-list {
      padding: 0;
      margin-left: 15px;
    }
    .work-list-item {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #595959;
    }
        /*education styles*/
        .education {}
        .university {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #FB6D3A;
          margin-bottom: 10px;
        }  
        .department {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          margin-bottom: 10px;
        }
        .Training {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #FB6D3A;
          margin-bottom: 10px;
        }
          /*sidebar styles*/
          .sidebar {
          background-color: #1e2939;
          padding-top: 40px;
          width: 370;
        }
        .photo {
        width: 400px;
        
        margin-bottom: 50px;
        }
        
        .contacts,
        .languages,
        .hard-skills,
        .soft-skills,
        .games,
        .Other-Positions {
          margin-left: 40px;
        }
        .contacts {
          margin-bottom: 50px;
        }
        .sidebar-title {
          color: #ffffff;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 27px;
          margin-bottom: 10px;
  }
        
    .contact-type {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #ffffff;
      margin-right: 10px;
    }
        
    .contact-link {
      ont-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #565e6a;
    }
    .languages {
      margin-bottom: 50px;
    }
    .languages-list {
      color: #fff;
      padding: 0;
      margin-left: 25px;
      }
    .languages-item {
      color: #fb6d3a;
    }
    .languages-text {
      color: #fff;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
    }
    .hard-skils-list {
      color: #fff;
      padding: 0;
      margin-left: 25px;
    }
    .hard-skills-item {
        color: #fb6d3a;
    }
      
    .hard-skills-text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
    .soft-skils-list {
        color: #fff;
        padding: 0;
        margin-left: 25px;
      }
      .soft-skills-item {
          color: #fb6d3a;
      }
        
    .soft-skills-text {
      color: #fff;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
    }
    .games-list {
      color: #fff;
      padding: 0;
      margin-left: 25px;
    }
    .games-type{
      color: #fff;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
    }
    .games-item {
      color: #fb6d3a;
    }
    .games-link {
        color: #fff;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }
    .Other-Positions-list {
      color: #fff;
      padding: 0;
      margin-left: 25px;
    }
    .Other-Positions-item {
      color: #fb6d3a;
    }
    .Other-Positions-text {
      color: #fff;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      }